@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body{
	font-family: TitilliumWeb;
  max-width: 1400px;
  margin: auto;
}

#main-menu li a{
  color: #444;
}
#second-menu {
  border-top: 3px solid #ff9722;
}
#second-menu li a{
  color: #fff;
  padding: 0;
  margin: 0 0.5em;
  font-weight: lighter;
  font-size: 14px;
}
#second-menu li.active a{
  border-bottom: 1px solid #ff9722;
}
#search-form button{
  border: none;
  height: 27px;
}
#search-form input{
  font-size: 14px;
  border: 1px solid #555;
  border-right: none;
  padding: 2px 5px;
}
.bg-orange{
	background-color: #ff9722;
}
.bg-grey{
	background-color: #2f383d;
}
.bg-light-grey{
  background-color: #e3e3e3;
}
.bg-white{
	background-color: #fff;
}
.text-white{
	color: #fff;
}
.text-black{
	color: #333;
}

.half-circle{
	position: relative;
}
.half-circle:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: inherit;
	border-radius: 50%;
	z-index: 1;
}
.half-circle.left:after{
	left: -25px;
	top: 50%;
	margin-top: -25px;

}
.half-circle.right:after{
	right: -25px;
	top: 50%;
	margin-top: -25px;

}
.half-circle.bottom:after{
	bottom: -25px;
	left: 50%;
	margin-left: -25px;

}
.border-bottom{
  border-bottom: 3px solid #ff9722;
}
@media (max-width: 767px){
	.half-circle.left:after, .half-circle.right:after{
		display: none;
	}
}

/*Top bar*/
#top-bar .user-info{
	line-height: 40px;
}
#top-bar span.name{
	margin-right: 10px;
}
#top-bar .fa-user{
	width: 24px;
	height: 24px;
	padding: 4px 6px;
}

/*Footer*/
footer a{
  color: #559aaa;
  text-decoration: underline;
}
footer hr{
  border-top: 1px solid rgba(154, 153, 153, 0.1);
}
/*Slider*/
.carousel-item img{
  align-self: center;
}