@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body{
	font-family: TitilliumWeb;
}
.bg-orange{
	background-color: #ff9722;
}
.bg-grey{
	background-color: #2f383d;
}
.bg-white{
	background-color: #fff;
}
.text-white{
	color: #fff;
}
img{
	max-width: 100%;
}